@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 20px;
  min-width: 350px;
  min-height: 100vh;
  background-color: rgb(223, 249, 241);
  background: linear-gradient(to bottom, rgb(210, 243, 231),rgb(204, 242, 238), rgb(186, 216, 239));
  text-align: center;
}

.custom-box-shadow {
  box-shadow: 3px 3px 0px #FDE68A;
  border:2px solid #FDE68A;
}

.custom-box-shadow:hover {
  box-shadow: 3px 3px 0px  #60A5FA;
  color:#f6d23f;
  border: 2px solid #60A5FA;
  background-color: white;
  
}

input-internal-autofill-selected {
  background-color: white !important;
}